@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import './components/style.scss';
@import './App.scss';

body, ul {
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
}